---
Title: "Quill of Verification"
Type: "Wondrous Item"
Price: "1000 gp"
Weight: "–"
Slot: "Slotless"
Caster level: "1"
Aura: "faint divination"
Description: |
  "This swan-feather quill helps its wielder verify signatures. The wielder can store a signature in the quill by pressing the quill into the signature and speaking a command word. She can then tap the quill's tip on another signature to check if it was written by the same individual. The quill verifies the authenticity of the signature as if it had attained a total result of 20 on a Linguistics check. If the signature detects as legitimate (including skilled forgeries whose DC to detect them is greater than 20), the quill glows blue. A _quill of verification_ can validate a signature up to 3 times per day. The wielder can switch the stored signature any number of times between uses of the verification ability."
Crafting cost: "500 gp"
Sources: "['Villain Codex']"
---

# Quill of Verification

### Properties

**Type:** Wondrous Item **Price:** 1000 gp **Weight:** – **Slot:** Slotless

##### Magical properties

**Caster level:** 1 **Aura:** faint _[[spells/Divination|divination]]_

### Description

This swan-feather quill helps its wielder _[[feats/Verify|verify]]_ signatures. The wielder can store a signature in the quill by pressing the quill into the signature and speaking a _[[spells/Command|command]]_ word. She can then tap the quill's tip on another signature to check if it was written by the same individual. The quill verifies the authenticity of the signature as if it had attained a total result of 20 on a Linguistics check. If the signature detects as legitimate (including skilled forgeries whose DC to detect them is greater than 20), the quill glows blue. A _[[items/Wondrous Item/Quill of Verification|quill of verification]]_ can validate a signature up to 3 times per day. The wielder can switch the stored signature any number of times between uses of the verification ability.

### Crafting requirements

**Crafting cost:** 500 gp

_[[feats/Craft Wondrous Item|Craft Wondrous Item]]_, _[[spells/Identify|identify]]_

### Sources

* Villain Codex